.oscar {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 10em;
}
.oscar .nomination-text {
  background-image: url("../images/Rectangle 23.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 80px;
  width: 825px;
  margin: 0;
  color: #fff5e9;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.oscar img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: -50px;
}
.oscar::before {
  content: url("../images/Sunflower.png");
  position: absolute;
  left: 4em;
  top: 0em;
}
.oscar::after {
  content: url("../images/orchid.png");
  position: absolute;
  right: -4em;
  bottom: 25em;
}

@keyframes flower-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 80%, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInStory {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes floating-logo {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -5%, 0);
  }
}
/* Fleurs dans la section story */
.story h2::after, .story__article::after {
  animation: flower-rotation 20s linear infinite;
}

/* Fleurs dans la section studio */
#studio h2::before, #studio h2::after {
  animation: flower-rotation 20s linear infinite;
}

/* Fleurs dans la section oscars */
.oscar::before, .oscar::after {
  animation: flower-rotation 20s linear infinite;
}

/* Fleur Colophon dans la section footer */
.site-footer ul::after {
  animation: flower-rotation 20s linear infinite;
}

.reveal {
  position: relative;
  transform: translateY(20px);
  opacity: 0;
  transition: all 5s ease;
}

.revealScattered {
  transform: translateY(60px);
}

.active {
  transform: translateY(0px);
  opacity: 1;
  transition: all 1s ease;
}

/* Fleur dans le footer */
.site-footer {
  animation: fadeInUp 1s;
}
.site-footer::before, .site-footer::after {
  display: none;
}

.banner {
  position: relative;
  overflow: hidden;
  animation: fadeInDown 1s;
}

.banner__container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#logo {
  width: 45%;
  position: sticky;
  animation: fadeInUp 1s, floating-logo 6s ease-in-out 1s infinite;
}

#header_video {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 70px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.story {
  animation: fadeInStory 1s;
}

#studio {
  animation: fadeInUp 1s;
}

#place {
  background-image: url("/assets/images/Studio_Koukaki-image_place.png"); /* Nouvelle image de fond */
}
#place .big_cloud {
  filter: blur(10px);
  position: absolute;
  left: 1030px;
  top: 1330px;
}
#place .little_cloud {
  filter: blur(10px);
  position: absolute;
  left: 800px;
  top: 1580px;
}/*# sourceMappingURL=style.css.map */