.nomination-section {
    .container {
        position: relative;
        .nomination-text {
            background-color:#FF5C00;
            padding: 10px;
            border-radius: 5px;
            display: inline-block;
            color: #fff; /* Blanc pour le texte */
            font-weight: bold;
            position: relative;
            z-index: 1;
        }
        img {
            margin-top: 20px;
            max-width: 100%;
            height: auto;  
        }
    }
}