@keyframes rotate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* Fleurs dans la section "story" */
.story h2::after {
    animation: rotate 20s linear infinite;
    height: 155px;
}

.story__article::after {
    animation: rotate 20s linear infinite;
}

/* Fleurs dans la section "studio" */
#studio h2::before {
    content: url('../images/Random Flower.png');
    position: absolute;
    left: -1em;
    top: 0em;
    animation: rotate 20s linear infinite;
}

#studio h2::after {
    content: url('../images/Flower.png');
    position: absolute;
    right: 1em;
    animation: rotate 20s linear infinite;
}

/* Fleurs dans la section "oscars" */
.oscar::before {
    content: url('../images/Sunflower.png');
    position: absolute;
    left: 4em;
    top: 0em;
    animation: rotate 20s linear infinite;
}

.oscar::after {
    content: url('../images/orchid.png');
    position: absolute;
    right: -4em;
    bottom: 25em;
    animation: rotate 20s linear infinite;
}

/* Animation for fade in */
@keyframes fadeInStory {
    0% {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.story {
    animation: fadeInStory 1s;
}

.fade-in {
    opacity: 1;
    animation: fadeIn 1s ease forwards;
}

/* Reveal animation */
.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease;
}

span {
    display: inline-block;
}

.reveal .revealScattered {
    animation-delay: 0.5s;
}

