// Rotations

@keyframes flower-rotation {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

// Fade ins

@keyframes fadeInDown {
   0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
   }
   100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 80%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInStory {
    0% {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

 // Floating effects
  
 @keyframes floating-logo {
    0%, 100% {
        transform: translate3d(0, 0, 0);
    }
    50% {
      transform: translate3d(0, -5%, 0);
    }
  }

// FLOWERS 

// Flowers rotation


/* Fleurs dans la section story */
.story h2::after, .story__article::after {
    animation: flower-rotation 20s linear infinite;
}

/* Fleurs dans la section studio */
#studio h2 {
    &::before, &::after {
    animation: flower-rotation 20s linear infinite;
    }
}

/* Fleurs dans la section oscars */
.oscar {
    &::before, &::after {
        animation: flower-rotation 20s linear infinite;
    }   
}

/* Fleur Colophon dans la section footer */
.site-footer {
    ul {
        &::after {
            animation: flower-rotation 20s linear infinite;
        }
    }
}


// FADE IN TITLES

.reveal { 
    transform: translateY(80%);
    opacity: 0;
}

.revealScattered {
    transform: translateY(60px);
}

.active {
    transform: translateY(0px);
    opacity: 1;
    animation: fadeinUp 3s ease-out forwards;
}





