.oscar {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 10em;
    
    .nomination-text {
        background-image: url('../images/Rectangle 23.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 80px 80px;
        width: 825px;
        margin: 0;
        color: #fff5e9; 
        font-family: "Quicksand", sans-serif;
        font-weight: bold;
        font-size: 3rem;
        line-height: normal;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        margin-left: -50px;
    }

    &::before {
        content: url('../images/Sunflower.png');
        position: absolute;
        left: 4em;
        top: 0em;
    }

    &::after {
        content: url('../images/orchid.png');
        position: absolute;
        right: -4em;
        bottom: 25em;
    }
}

// Media queries

// Pour les écrans ≤ 768px
@media (max-width: 768px) {
    .oscar {
        display: flex;
        flex-direction: column;
        align-items: center;

        .nomination-text {
            font-size: 1.5rem;
            width: 460px;
        }

        &::before, &::after {
            content: none;
        }
    }
}

// Pour les écrans entre 768px et 992px
@media (min-width: 768px) and (max-width: 992px) {
    .oscar {
        display: flex;
        flex-direction: column;
        align-items: center;


        .nomination-text {
            width: 70%;
            font-size: 1.75rem;
        }
    
        & img {
            margin-left: -20px;
        }
    }

}
    

