// STORY

// Clouds parallax

.story {
    #place {
        background-image: url('../../assets/images/Studio_Koukaki-image_place.png');  /* Nouvelle image de fond */
        .big_cloud {
            filter: blur(10px);
            position: absolute;
            left: 1030px;
            top: 1330px;
        }
        .little_cloud {
            filter: blur(10px);
            position: absolute;
            left: 800px;
            top:1500px;
        }
    }
}

.anim-section {
    animation: fadeInStory 1s;
}


// Media queries

// Pour les écrans ≤ 768px
@media (max-width: 768px) {
    .story {
        h2, h3 {
            font-size: 2rem;
        }

        #place .big_cloud, .little_cloud {
            display: none;  
        }
    } 
}

// Pour les écrans entre 768px et 992px
@media (min-width: 768px) and (max-width: 992px) {
    .story {
        h2 {
            font-size: 3rem;
        }

        #place .big_cloud, .little_cloud {
            display: none;  
        }  
    }
}
