// Media queries

// Pour les écrans ≤ 768px
@media (max-width: 768px) {
    #studio h2 {
        font-size: 2rem;

        &::before, &::after {
            display: none;
        }
    }   
}

// Pour les écrans entre 768px et 992px
@media (min-width: 768px) and (max-width: 992px) {
    #studio h2 {
        font-size: 3rem;

        &::before, &::after {
            display: none;
        }     
    }  
}

