// HEADER

// BANNER

.banner {
    position: relative;
    overflow: hidden;
    animation: fadeInDown 1s;
    }

    .banner {
        &__container {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

    #logo {
        width: 45%;
        position: sticky;
        animation: fadeInUp 1s, floating-logo 6s ease-in-out 1s infinite;
    }

    // Video

    #header_video {
        position: absolute;
        @media (max-width: 768px) {
            display: none;
        }
    }




