/* Fleur dans le footer */
.site-footer ul::after {
    content: url('../images/Hibiscus.png');
    position: absolute;
    left: calc(50% - 323px);
    bottom: -28.5em;
    z-index: -1;
    animation: rotate 20s linear infinite;
    height: 646px;   
}

.site-footer::before, 
.site-footer::after {
    display: none;
}

 