// MENU

$color_1: black;
$background-color_1: #FFF5E9;
$background-color_2: black;
$background-color_3: #FFD5A2;

.nav_burger {
	height: 100%;
  	max-width: 1440px;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: -100%;
	background-color: $background-color_3;
	padding-top: 60px;
	overflow: hidden;

	a {
		text-decoration: none;
		font-size: 38px;
		color: $color_1;
		display: block;
		transition: 0.3s;
		text-align: center;
	}

	ul {
		a {
			&:hover {
				text-shadow: 0px 0px 14px #FF5C00;
			}
		}

		list-style-type: none;
		flex-direction: column;
		background-color: $background-color_1;

		li {
			top: 5px;
		}

		.story_burger::before {
			content: url('../images/purple_cat.png');
			position: absolute;
			left: -20em;
			top: -3em;
		}
	
		.story_burger::after {
			content: url('../images/Sunflower_burger.png');
			position: absolute;
			right: -30em;
			bottom: 2em;
		}

		.personnages_burger::before {
			content: url('../images/orchid.png');
			position: absolute;
			left: -46em;
			bottom: 15em;
		}

		.personnages_burger::after {
			content: url('../images/random_flower_burger.png');
			position: absolute;
			right: -46em;
			bottom: -5em;
		}

		.lieu_burger::before {
			content: url('../images/Flower.png');
			position: absolute;
			left: -30em;
			bottom: 0em;
		}

		.lieu_burger::after {
			content: url('../images/grey_cat.png');
			position: absolute;
			right: -30em;
			bottom: -7em;
		}

		.studio_burger::before {
			content: url('../images/orange_cat.png');
			position: absolute;
			left: -30em;
			bottom: -4em;
		}

		.studio_burger::after {
			content: url('../images/Hibiscus.png');
			position: absolute;
			right: -62em;
			bottom: -45em;
		}
	}

	.close {
		position: absolute;
		top: 35px;
		right: 20px;
		line-height: 0;
		font-size: 36px;
		color: $color_1;
	}
}

.nav_burger.active {
	top: 0;
	width: 100%;
	text-align: center;
	padding-top: 80px;
	animation: down 1s;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger-icon {
	span {
		display: block;
		width: 35px;
		height: 2px;
		background-color: $background-color_2;
		margin: 8px 0;
    @media (max-width: 699px) {
    display: none;
    }
	}
}

#openBtn {
	position: absolute;
	top: 20px;
	right: 20px;
}

.site-title {
	z-index: 2;
}

.menu-mobile {
  @media (min-width: 699.5px) {
    display: none;
  }
}

// Menu elements style

.menu_animations {
  @media (max-width: 1192px) {
    display: none;
  }
}

.logo_burger {
	position: relative;
	bottom: 90px;
	filter: drop-shadow(0px 0px 26.0937px rgba(255, 92, 0, 0.6));
}

.story_burger {
	&::before {
		animation: floating-logo 6s ease-in-out 1s infinite;
	}
	&::after {
		animation: flower-rotation 20s linear infinite;
	}
}

.personnages_burger {
	&::before, &::after {
		animation: flower-rotation 20s linear infinite;
	}
}

.lieu_burger {
	&::before {
		animation: flower-rotation 20s linear infinite;
	}
	&::after {
		animation: floating-logo 6s ease-in-out 1s infinite;
	}
}

.studio_burger {
	&::before {
		animation: floating-logo 6s ease-in-out 1s infinite;
	}
	&::after {
		animation: flower-rotation 20s linear infinite;
	}
}