// MENU

$color_1: black;
$background-color_1: #FFF5E9;
$background-color_2: black;
$background-color_3: #FFD5A2;

.main-navigation {
	height: 80px;
}

.nav_burger {
	height: 100%;
  	max-width: 1440px;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: -100%;
	background-color: $background-color_3;
	padding-top: 60px;
	overflow: hidden;

	.title_burger {
		font-family: "Quicksand", sans-serif; 
		font-size: 30px; 
	}

	a {
		text-decoration: none;
		font-size: 38px;
		color: $color_1;
		display: block;
		transition: 0.3s;
		text-align: center;
		margin-top: -30px;
	}

	ul {
		a {
			&:hover {
				text-shadow: 0px 0px 14px #FF5C00;
			}
		}

		list-style-type: none;
		flex-direction: column;
		background-color: $background-color_1;

		li {
			top: 5px;
		}

		.story_burger::before {
			content: url('../images/purple_cat.png');
			position: absolute;
			left: -24em;
			top: -6em;
		}
	
		.story_burger::after {
			content: url('../images/Sunflower.png');
			position: absolute;
			right: -25em;
			bottom: 1em;
		}

		.personnages_burger::before {
			content: url('../images/orchid.png');
			position: absolute;
			left: -47em;
			bottom: 8em;
		}

		.personnages_burger::after {
			content: url('../images/random_flower_burger.png');
			position: absolute;
			right: -45em;
			bottom: -1em;
		}

		.lieu_burger::before {
			content: url('../images/Flower.png');
			position: absolute;
			left: -28em;
			bottom: 0em;
		}

		.lieu_burger::after {
			content: url('../images/grey_cat.png');
			position: absolute;
			right: -30em;
			bottom: -5em;
		}

		.studio_burger::before {
			content: url('../images/orange_cat.png');
			position: absolute;
			left: -26em;
			bottom: -8em;
		}

		.studio_burger::after {
			content: url('../images/Hibiscus.png');
			position: absolute;
			right: -61em;
			bottom: -39em;
		}
	}

	.close {
		position: absolute;
		top: 65px;
		right: 20px;
		line-height: 0;
		font-size: 40px;
		color: $color_1;
	}
}

.nav_burger.active {
	top: 0;
	width: 100%;
	text-align: center;
	padding-top: 80px;
	animation: down 1s;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger-icon {
	span {
		display: block;
		width: 35px;
		height: 2px;
		background-color: $background-color_2;
		margin: 8px 0;
	}
}

#openBtn {
	position: absolute;
	top: 20px;
	right: 20px;
}

.site-title {
	z-index: 2;
}

// Menu elements style

.logo_burger {
	margin-top: -30px;
	filter: drop-shadow(0px 0px 26.0937px rgba(255, 92, 0, 0.6));
}

.story_burger {
	&::before {
		animation: floating-logo 2s ease-in-out 1s infinite;
	}
	&::after {
		animation: flower-rotation 20s linear infinite;
	}
}

.personnages_burger {
	&::before, &::after {
		animation: flower-rotation 20s linear infinite;
	}
}

.lieu_burger {
	&::before {
		animation: flower-rotation 20s linear infinite;
	}
	&::after {
		animation: floating-logo 2s ease-in-out 1s infinite;
	}
}

.studio_burger {
	&::before {
		animation: floating-logo 2s ease-in-out 1s infinite;
	}
	&::after {
		animation: flower-rotation 20s linear infinite;
	}
}

.studio_koukaki {
	margin-bottom: -30px;
}


// Media queries 

// Pour les écrans ≤ 700px
@media (min-width: 700px) {
    .main-navigation ul {

		.site-title-mask {
			display: none;
		}
	}
}

// Pour les écrans ≤ 768px
@media (max-width: 768px) {
    .main-navigation ul {
		display: flex;

		.site-title {
			display: none;
		}
	}
	.nav_burger a {
		font-size: 30px;
	}
}

// Media queries combinées pour les écrans ≤ 992px
@media (max-width: 992px) {
	.nav_burger ul .story_burger, .personnages_burger, .lieu_burger, .studio_burger {
		&::before, &::after {
			display: none;
		}
	}
}